<ion-view title="{{presentation.name}}">
    <ion-content class="has-header slideshow-container" scroll="false">
        <div class="centered-container slide" elem-size>    
        <div class="row">
            <div class="col col-10">
                <a class="button icon-left ion-chevron-left button-clear button-dark slider-button" ng-click="prevSlide()">Back</a>

            </div>
            <div class="col col-80" >
            <ion-slide-box class="bordered-drop-shadow" on-slide-changed="setSlide(index)">
                <ion-slide ng-repeat="slide in presentation.slides">
                    
                    <div ng-switch on="slide.type">
                        <div ng-switch-when="img">
                            <img ng-src="{{slide.source}}" class="slide-content" >
                        </div>
                        <div ng-switch-when="video">                            
                            <video class="slide-content" controls v-lead={{$index}}>
                             <source src="http://static.videogular.com/assets/videos/videogular.mp4" type='video/mp4' />
                             <source src="http://static.videogular.com/assets/videos/videogular.webm" type='video/webm' />
                             <source src="http://static.videogular.com/assets/videos/videogular.ogg" type='video/ogg' />
                            </video>                      
                         </div> 
                    </div>                    
                </ion-slide>
            </ion-slide-box>
             <div class="presence-message" appear-up="show_message">""</div>
            </div>
            <div class="col col-10 ">
                <a class="button icon-left ion-chevron-right button-clear button-dark slider-button right" ng-click="nextSlide()">Next</a>
            </div>            
        </div>
        </div>
    </ion-content>
</ion-view>
