<ion-view view-title="ReVu.Me Demo">
  <ion-content>
    <div class="centered-container" >
    <div class="row row-center">
        <div class="col col-10">
        </div>
        <div class="col col-80">
              <h3>Welcome {{userId}} </h3>  
        </div>

    </div>
    <div class="row row-center" elem-height="0.25" >
        <div class="col col-10">
        </div>
        <div class="col col-80">
          <h3>Viewers</h3>
        <h4> <strong>View</strong> a presentation</h4>
            <a class="button  button-positive" href="#/app/viewerSessions">
              Go View
            </a>       
        </div>
        <div class="col col-10">
        </div>
    </div>
    <div class="row row-center" elem-height="0.25">
        <div class="col col-10">
        </div>
        <div class="col col-80">
          <h3>Presenters</h3>
        <h4> <strong>Lead</strong> a presentation</h4>
            <a class="button button-positive" href="#/app/sessions">
              Go Lead
            </a>       
        </div>
        <div class="col col-10">
        </div>
    </div>
    <div class="row row-center">
        <div class="col col-10">
        </div>
        <div class="col col-80">
            <div class="centered-container user_list">

          <ion-list>
              <div class="item item-divider">
                Users Online
              </div>
              <ion-item class="item-icon-left" ng-repeat="user in users">
                  <i class="icon ion-android-contact avatar_icon"></i>
                <h2>{{user}}</h2>
              </ion-item>
          </ion-list>    
            </div>
        </div>
        <div class="col col-10">
        </div>        
    </div>
    </div>
  </ion-content>
</ion-view>
