/* Empty. Add your own CSS if you like */
.centered-container {
    margin-left:auto;
    margin-right:auto;    
    text-align: center;
}
.slide-container {
    width:90%;
}
.bordered-drop-shadow {
  box-shadow: 10px 10px 5px #888888;
  border: #888888;
  border-style: solid;
  border-width: 3px;
}
.slide-content {
    width:100%;
}
.slideshow-container {
    background:rgba(79, 78, 7, 0.28);
}
.vid-content{
}
.slide-control{
  width: 90%;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

.right{
    float:right;
}
.left{ 
    float:left;
}
.slider-button {
    margin-top:40%;
}
.half-height{
    min-height: 40%;
}

.avatar_icon{
    font-size:32px;
    color:#a6bd39;
}

.user_list {
}

.presence-message.show{
    top:70%;
    opacity:1;
}

.presence-message{
    -webkit-transition: 1.2s linear all;
    transition: 1.2s linear all;    
    position:absolute;
    top:110%;
    left:35%;
    width:30%;
    background:#424242;
    color: white;
    line-height: 300%;
    font-weight:600;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity:0;
}
.user-status-bar {
    position:absolute;
    top:15%;
    width:8%;
    margin-left:5%;
    z-index: 10;
    background:#424242;
    color: white;
    max-height:70%;
    overflow-y:scroll;
    padding-bottom: 4px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
    
.user-item {
    margin-top:1%;
}
.user-indicator{
    position: absolute;
    display:inline;
    top:3%;
    right:3%;
    font-size: 90%;
    background:#BED552;
    text-align: center;
    vertical-align: middle;
    height:12px;
    width:12px;
    line-height: 12px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    font-weight:600;
}
.user-item-avatar{
    font-size:28px;
    display:block;
    clear:right;
    color:#757575;
}
.user-itsme {
    color:#B5D7A4;
}
.user-item-text{
   font-size:80%;
}
.user-online{
        color:#a6bd39;
}
.user-distracted{
    color:#fcF00A;
}

@media screen and (max-width: 1100px) {
    .user-status-bar{
        margin-left:5.0%;
        min-width:8%;
    }
}
@media screen and (max-width: 900px) {
    .user-status-bar{
        top:20%;
        min-width:8%;
        margin-left:0.5%;
        font-size:80%;
    }
    .user-item-avatar{
        font-size:200%;
    }
    
}
@media screen and (max-width: 800px) {
    .slider-button{ 
        display:none;
    }
    .presence-message{
        left:10%;
        width:80%;
    }
    .user-status-bar{
        top:5%;
    }
}

@media screen and (max-width: 600px) {
    .user-status-bar{
        top:90%;
        height:9%;
        max-width:75%;
        width:75%;
        left:12%;
        display:inline-block;
        font-size:80%;
        overflow-y: hidden;
        overflow-x:scroll;
        white-space: nowrap;
    }
    .user-item{
        display:inline-block;
        min-width:15%;
        height:100%;
        overflow-y:hidden;
        line-height:100%;
    }
    .user-item-avatar{
        font-size:200%;
    }
}

@media screen and (max-width: 475px) {
    .user-status-bar{
        margin-top:0;
    }
    .user-item{
        text-overflow: ellipsis;
        margin-left:4px;
    }

    .user-item-avatar{
        font-size:150%;
    }
}

@media screen and (min-width: 600px){
    .user_list{
        width:50%;
    }

}




